
version: 2
jobs:
  python_test:
    docker:
      - image: circleci/python:2.7
    
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            make python_test
  
  cpp_test:
    docker:
      - image: cianlr/googletest:1.8.0

    working_directory: ~/repo
    
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            make cpp_test

workflows:
  version: 2
  test:
    jobs:
      - python_test
      - cpp_test

